@charset "UTF-8";
/* [ variable ]
-------------------------------------------------*/
/* font */
/* font */
/*  */
/* [ font style ]
-------------------------------------------------*/
/* [ opacity ]
-------------------------------------------------*/
/* [ blur ]
-------------------------------------------------*/
/* [ radius ]
-------------------------------------------------*/
/* [ easing ]
-------------------------------------------------*/
/* [ transform ]
-------------------------------------------------*/
/* [ layout ]
-------------------------------------------------*/
#scroll-body, #document {
  overflow: inherit !important;
  height: auto !important;
  position: relative !important; }

#header-container, #footer-container {
  display: none !important; }

#document {
  width: 100% !important;
  height: auto !important; }
  #document #document-inner {
    width: 100% !important; }
  #document #loader-container {
    width: 100% !important;
    height: auto !important; }
  #document .btn {
    display: none; }
  #document .section-container {
    margin: 0 auto; }

#scroll-body {
  width: 100% !important;
  height: auto !important;
  overflow: visible !important;
  outline: inherit !important; }
  #scroll-body .scroll-content {
    -webkit-transform: none !important;
            transform: none !important; }
  #scroll-body .scrollbar-track {
    display: none !important; }
  #scroll-body .scrollbar-thumb {
    display: none !important; }

#page-title {
  margin-bottom: 48px;
  margin-top: 0px; }
  #page-title .page-title-inner {
    position: relative;
    height: 80px; }
    #page-title .page-title-inner .en {
      font-size: 50px;
      line-height: 80px;
      float: left; }
    #page-title .page-title-inner .jp {
      font-size: 16px;
      line-height: 80px;
      padding-left: 14px;
      vertical-align: middle;
      float: left; }
    #page-title .page-title-inner:before {
      content: "";
      display: block;
      width: 28px;
      height: 7px;
      background-color: #669d11;
      position: absolute;
      top: 8%; }

#page-title .page-title-inner .en {
  display: inline-block;
  font-size: 32px;
  line-height: 80px;
  padding-left: 50px; }

#page-title .page-title-inner .jp {
  display: inline;
  line-height: 80px;
  vertical-align: middle; }

#event {
  width: 210mm;
  /* needed for Chrome */
  height: 251mm; }
  #event #document {
    zoom: 0.8; }
    #event #document .btn {
      display: none; }
    #event #document .section-container {
      width: 100% !important; }
      #event #document .section-container .section-inner {
        width: 100% !important; }
    #event #document #events-detail-container .photo .sp {
      width: 100%;
      padding-top: 40%;
      max-height: 410px; }
    #event #document #events-main {
      page-break-after: always; }
      #event #document #events-main .btn {
        margin-bottom: 0; }
    #event #document .info-container {
      margin-bottom: 0px;
      margin: 0 auto; }
      #event #document .info-container .table-container {
        float: left;
        width: 45%; }
        #event #document .info-container .table-container table {
          width: 100%; }
          #event #document .info-container .table-container table tr th,
          #event #document .info-container .table-container table tr td {
            padding: 15px 20px; }
          #event #document .info-container .table-container table tr th {
            width: 60px; }
      #event #document .info-container .map-container {
        width: 45%;
        float: right; }
        #event #document .info-container .map-container #map {
          width: 100%;
          height: 330px; }

#events-detail-container .detail-section-container .events-title-container,
#events-detail-container .detail-section-container .information-title-container,
#information-detail-container .detail-section-container .events-title-container,
#information-detail-container .detail-section-container .information-title-container {
  margin-bottom: 60px; }
  #events-detail-container .detail-section-container .events-title-container .events-title-inner .date,
  #events-detail-container .detail-section-container .events-title-container .information-title-inner .date,
  #events-detail-container .detail-section-container .information-title-container .events-title-inner .date,
  #events-detail-container .detail-section-container .information-title-container .information-title-inner .date,
  #information-detail-container .detail-section-container .events-title-container .events-title-inner .date,
  #information-detail-container .detail-section-container .events-title-container .information-title-inner .date,
  #information-detail-container .detail-section-container .information-title-container .events-title-inner .date,
  #information-detail-container .detail-section-container .information-title-container .information-title-inner .date {
    top: -13px;
    left: -5px; }
    #events-detail-container .detail-section-container .events-title-container .events-title-inner .date .date-inner,
    #events-detail-container .detail-section-container .events-title-container .information-title-inner .date .date-inner,
    #events-detail-container .detail-section-container .information-title-container .events-title-inner .date .date-inner,
    #events-detail-container .detail-section-container .information-title-container .information-title-inner .date .date-inner,
    #information-detail-container .detail-section-container .events-title-container .events-title-inner .date .date-inner,
    #information-detail-container .detail-section-container .events-title-container .information-title-inner .date .date-inner,
    #information-detail-container .detail-section-container .information-title-container .events-title-inner .date .date-inner,
    #information-detail-container .detail-section-container .information-title-container .information-title-inner .date .date-inner {
      padding: 0 13px; }
  #events-detail-container .detail-section-container .events-title-container .events-title-inner .title,
  #events-detail-container .detail-section-container .events-title-container .information-title-inner .title,
  #events-detail-container .detail-section-container .information-title-container .events-title-inner .title,
  #events-detail-container .detail-section-container .information-title-container .information-title-inner .title,
  #information-detail-container .detail-section-container .events-title-container .events-title-inner .title,
  #information-detail-container .detail-section-container .events-title-container .information-title-inner .title,
  #information-detail-container .detail-section-container .information-title-container .events-title-inner .title,
  #information-detail-container .detail-section-container .information-title-container .information-title-inner .title {
    font-weight: bold;
    font-size: 24px;
    padding: 22px 80px 22px 50px; }
  #events-detail-container .detail-section-container .events-title-container .events-title-inner .category,
  #events-detail-container .detail-section-container .events-title-container .information-title-inner .category,
  #events-detail-container .detail-section-container .information-title-container .events-title-inner .category,
  #events-detail-container .detail-section-container .information-title-container .information-title-inner .category,
  #information-detail-container .detail-section-container .events-title-container .events-title-inner .category,
  #information-detail-container .detail-section-container .events-title-container .information-title-inner .category,
  #information-detail-container .detail-section-container .information-title-container .events-title-inner .category,
  #information-detail-container .detail-section-container .information-title-container .information-title-inner .category {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 12px;
    line-height: 12px;
    right: 50px;
    font-size: 12px; }

#events-detail-container .detail-section-container .events-title-container,
#information-detail-container .detail-section-container .events-title-container {
  margin-bottom: 20px !important; }

#events-detail-container .detail-section-container#events-main .text-container,
#information-detail-container .detail-section-container#events-main .text-container {
  margin-top: 25px;
  margin-bottom: 40px; }

#events-detail-container .detail-section-container#events-main .info-container,
#information-detail-container .detail-section-container#events-main .info-container {
  margin-bottom: 20px; }
  #events-detail-container .detail-section-container#events-main .info-container .table-container,
  #information-detail-container .detail-section-container#events-main .info-container .table-container {
    float: left;
    width: 45%; }
    #events-detail-container .detail-section-container#events-main .info-container .table-container table,
    #information-detail-container .detail-section-container#events-main .info-container .table-container table {
      width: 100%; }
      #events-detail-container .detail-section-container#events-main .info-container .table-container table tr th,
      #events-detail-container .detail-section-container#events-main .info-container .table-container table tr td,
      #information-detail-container .detail-section-container#events-main .info-container .table-container table tr th,
      #information-detail-container .detail-section-container#events-main .info-container .table-container table tr td {
        padding: 15px 20px; }
      #events-detail-container .detail-section-container#events-main .info-container .table-container table tr th,
      #information-detail-container .detail-section-container#events-main .info-container .table-container table tr th {
        width: 60px; }
  #events-detail-container .detail-section-container#events-main .info-container .map-container,
  #information-detail-container .detail-section-container#events-main .info-container .map-container {
    width: 45%;
    float: right; }
    #events-detail-container .detail-section-container#events-main .info-container .map-container #map,
    #information-detail-container .detail-section-container#events-main .info-container .map-container #map {
      width: 100%;
      height: 330px; }

#events-detail-container .detail-section-container#events-main .btn,
#information-detail-container .detail-section-container#events-main .btn {
  margin-bottom: 80px; }

#events-detail-container .detail-section-container img,
#information-detail-container .detail-section-container img {
  width: auto;
  max-width: 1080px; }

#events-detail-container #free-area,
#information-detail-container #free-area {
  padding-top: 40px;
  padding-bottom: 80px;
  margin-bottom: 60px; }

#events-detail-container #detail-cat_tag-container,
#information-detail-container #detail-cat_tag-container {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 70px; }
  #events-detail-container #detail-cat_tag-container .category,
  #information-detail-container #detail-cat_tag-container .category {
    display: inline-block;
    float: left;
    margin-right: 40px; }
    #events-detail-container #detail-cat_tag-container .category a,
    #information-detail-container #detail-cat_tag-container .category a {
      height: 24px;
      line-height: 24px;
      padding-left: 7px;
      padding-right: 7px; }
  #events-detail-container #detail-cat_tag-container .tag-list,
  #information-detail-container #detail-cat_tag-container .tag-list {
    float: left;
    top: -12px; }

.chrome #event .section-container {
  margin-left: -20px; }

.ie #event {
  zoom: 1;
  width: 100%;
  height: 251mm; }
  .ie #event #document {
    zoom: 1; }
  .ie #event #document #page-title {
    margin-bottom: 28px; }
  .ie #event #document .btn {
    display: none; }
  .ie #event #document .section-container {
    margin-left: -20px; }
  .ie #event #document #events-detail-container .events-title-container {
    margin-bottom: 30px; }
  .ie #event #document #events-detail-container .photo .sp {
    width: 100%;
    padding-top: 40%;
    max-height: 410px; }
  .ie #event #document #events-detail-container .events-title-inner .title {
    font-size: 18px; }
  .ie #event #document .text-container {
    margin: 25px auto 40px; }

#access-container .compay-info .text-container .name {
  font-weight: bold;
  line-height: 1; }

#access-container .access-info {
  position: relative; }
  #access-container .access-info:before {
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    display: block;
    background-color: #e4e4e3; }
  #access-container .access-info li {
    background-color: #fff;
    position: relative;
    z-index: 1; }
    #access-container .access-info li .title {
      font-weight: bold; }
      #access-container .access-info li .title:before {
        background-color: #669d11;
        content: "";
        display: inline-block;
        -webkit-transform: skew(-20deg);
        -moz-transform: skew(-20deg);
        -o-transform: skew(-20deg);
        -ms-transform: skew(-20deg);
        position: relative; }
    #access-container .access-info li dl dt {
      font-weight: bold; }

/* PC =================================== */
/* PCã€€ALL */
#access {
  width: 210mm;
  /* needed for Chrome */
  height: 251mm;
  margin-top: -50px; }
  #access #document #events-detail-container .photo .sp {
    width: 100%;
    padding-top: 10%;
    max-height: 410px; }
  #access #document .text-container {
    margin: 25px auto 40px; }
  #access #document .info-container {
    margin-bottom: 100px;
    margin: 0 auto; }
    #access #document .info-container .table-container {
      float: left;
      width: 45%; }
      #access #document .info-container .table-container table {
        width: 100%; }
        #access #document .info-container .table-container table tr th,
        #access #document .info-container .table-container table tr td {
          padding: 15px 20px; }
        #access #document .info-container .table-container table tr th {
          width: 60px; }
    #access #document .info-container .map-container {
      width: 45%;
      float: right; }
      #access #document .info-container .map-container #map {
        width: 100%;
        height: 330px; }
  #access #access-container {
    margin-bottom: 90px; }
    #access #access-container .section-inner {
      position: relative;
      padding-bottom: 60px; }
      #access #access-container .section-inner:after {
        width: 120%;
        height: 540px;
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: -10%;
        margin-top: 50%;
        background-color: #f3f2f0; }
    #access #access-container .compay-info .logo {
      width: 285px;
      float: left; }
      #access #access-container .compay-info .logo svg {
        width: 285px;
        height: 60px; }
    #access #access-container .compay-info .text-container {
      width: 50%;
      float: right; }
      #access #access-container .compay-info .text-container .name {
        font-size: 14px;
        margin-bottom: 5px; }
    #access #access-container #access-map {
      width: 100%;
      height: 320px;
      margin-bottom: 30px; }
    #access #access-container .access-info {
      display: table; }
      #access #access-container .access-info:before {
        top: 10px;
        left: 10px; }
      #access #access-container .access-info li {
        display: table-cell;
        width: 360px;
        padding: 30px 0;
        border-right: 1px solid #e4e4e3; }
        #access #access-container .access-info li:last-child {
          border: 0; }
        #access #access-container .access-info li > * {
          padding-left: 27px;
          padding-right: 27px; }
        #access #access-container .access-info li .title {
          font-size: 18px;
          margin-bottom: 20px; }
          #access #access-container .access-info li .title:before {
            width: 8px;
            height: 8px;
            margin-right: 8px;
            top: -4px; }
        #access #access-container .access-info li dl {
          margin-bottom: 10px; }

.ie #access {
  zoom: 1;
  width: 100%; }
  .ie #access #document .section-container {
    margin: 0 auto; }

.chrome #access #document .section-inner {
  width: 90%;
  margin: 0 auto; }
  .chrome #access #document .section-inner .section-contents {
    width: 100%; }

.chrome #access #document .access-info li {
  width: 33%; }

#page-top {
  display: none; }
